/* ---- ALL TITLES + SVG STYLE. ---- */

.dashboard-title {
    background-color: var(--yellow);
}

.section-title {
    color: #565656;
    background-color: var(--green);
    padding: 1rem 1rem 0 1rem;
}

.svg-border {
    color: var(--green);
}

/* ---- NAVIGATE BY DAY BUTTON-GROUP. ---- */

.date-nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.date-nav > .btn {
    max-width: 175px;
}

.date-nav > .btn-primary {
    min-width: 146px;
}

.date-text {
    font-weight: 600;
}

/* ---- MAKE BUTTONS A COLUMN ON VERY SMALL SCREENS. ---- */

@media (max-width: 408px) {
    .date-nav {
        flex-direction: column;
        width: 100% !important;
    }
    .date-nav > .btn {
        max-width: 80%;
        width: 80%;
        border-radius: 0;
    }
    .date-nav > .btn:first-child {
        border-radius: 8px 8px 0 0 !important;
    }
    .date-nav > .btn:last-child {
        border-radius: 0 0 8px 8px !important;
    }
}

/* ---- GENERAL STYLES FOR CARDS. ---- */

.card {
    border: none;
    word-wrap: normal;
}
  
.card-header {
    background-color: var(--yellow);
    border: 1px solid var(--yellow);
    font-weight: 600;
    text-align: center;
}

.list-group-item,
.card-body {
    border: 1px solid var(--yellow) !important;
    border-top: none !important;
}

.list-group-item {
    margin-left: -1px;
}

.list-group-item:first-child {
    margin-left: 0px;
}