.reservation-card {
    max-width: 100%;
    min-width: 300px;
}

/* MARGIN-CORRECTION SO BORDERS MATCH UP. */

.reservation-card > .list-group > .list-group-item {
    flex-grow: 1;
    margin-left: -1px;
}

.reservation-card > .list-group > .list-group-item:first-child {
    margin-left: -0px;
}

@media (max-width: 408px) {
    .res-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .res-buttons > .btn {
        margin: 3px 0;
    }
}